AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=eastus
AZURE_SPEECH_ENDPOINT=
APP_DATA_DIR=/mnt/data
MODEL_NAME=bert-large-uncased-whole-word-masking-finetuned-squad
CORS_ORIGINS=
VITE_API_BASE=

az acr build --registry philipsopenfdacr --image mining-voice-ai:latest --file Dockerfile .